.blue-filter{
  position: relative;
  &:before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #2eb2ef;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
   
}
.section{
  padding-top: 110px;
  padding-bottom: 80px;
}
.about-container{
  display: flex;
  
}

.about-left{
  width: calc(50% - 15px);
  padding-right: 13%;
}

.about-right{
  width: calc(50% + 15px);
  position: relative;
  background: url(../img/about.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-right__text{
  text-transform: uppercase;
  color:  #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-align: right;
  position: absolute;
  right: 40px;
  bottom: 40px;
  z-index: 1;
}

.about-text{
  font-family: Hind;
  color:  #737373;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 25px;
}

.section-heading{
  font-family: Montserrat;
  color:  #00a1eb;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  
  
}

.underlined-heading{
  position: relative;
  &:after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 81px;
    height: 1px;
    display: block;
    bottom: -25px;
    background: #a1a1a1;
  }
}

.about-heading{
  text-align: left;
  &:after{
    left: 0;
    transform: translate(0);
  }
}

.about-tel{
  color:  #00a1eb;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 35px;
  display: block;
  &:hover{
    color:  #00a1eb;
  }
}

.assortment{
  background: url(../img/as-bg.jpg);
  background-repeat: repeat;
}

.assortment-top-text{
  font-family: Hind;
  color:  #737373;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 55%;
  text-align: center;
  
}

.assortment-slider{
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 55px;
  position: relative;
}

.assortment-slider__arrow{
  width: 41px;
  height: 41px;
  display: block;
  border-radius: 50%;
  border: 1px solid #01a1eb;
  position: absolute;
  top: 50%;
  cursor: pointer;
  &.prev{
    left: 5px;
    transform: translate(-100%, -50%);
  }
  &.next{
    right: 5px;
    transform: translate(100%, -50%);
  }
  i{
    font-size: 22px;
    color: #01a1eb;
    font-weight: lighter;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.assortment-item{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 15px;
  min-height: 270px;
  position: relative;
  cursor: pointer;
  &:hover{
    .assortment-order-btn{
      display: block;
    }
  }
}

.assortment-btn{
  margin: 0 auto;
}

.assortment-title{
  color:  #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
}

.assortment-price{
  color:  #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.assortment-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
}

.assortment-order-btn{
  padding: 10px 15px;
  font-family: Montserrat;
  color:  #00a1eb;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  width: 95px;
  margin: 5px auto 0;
  transition: all 0.5s;
  display: none;
}

.capabilities-title{
  color:  #00a1eb;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}
.capabilities-text{
  color:  #737373;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  font-family: Hind;
}
.capabilities-btn{
  margin: 60px auto 0;
}

.capabilities-image{
  width: 170px;
  height: 170px;
  border: 3px solid #00a1eb;
  background-color: #00a1eb;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .5s;
  border-radius: 50%;
  background-size: 60%;
  margin: 0 auto 30px;
  cursor: pointer;
  transition: all .5s;
  &.icon1{
    background-image: url(../img/ico1.png);
    &:hover{
      background-image: url(../img/ico1_h.png);
      background-color: #fff;
      transition: all .5s;
    }
  }
  &.icon2{
    background-image: url(../img/ico2.png);
    background-size: 50%;
    &:hover{
      background-image: url(../img/ico2_h.png);
      background-color: #fff;
      transition: all .5s;
    }
  }
  &.icon3{
    background-image: url(../img/ico3.png);
    background-size: 50%;
    &:hover{
      background-image: url(../img/ico3_h.png);
      background-color: #fff;
      transition: all .5s;
    }
  }
}

.contacts-wrapper{
  background: #2eb2ef;
  position: relative;
  transform: skewX(25deg);
}
.contacts{
  padding: 130px 0 160px;
}
.contacts-section{
  position: relative;
  padding: 0 !important;
  overflow: hidden;
  
}
.contacts-section .container{
   display: flex;
  height: 100%;
}

.contacts-left, .contacts-right{
  width: 50%;
}
.contacts-left{
  cursor: pointer;
}
.contacts-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.contacts-wrapper{
  width: 50%;
}

.map{
  height: 540px;
  &:before{
      opacity: 0.6;
      transition: 0.5s;
  }
  &.hover{
    &:before{
      opacity: 0;
      transition: 0.5s;
    }
  }
}

.gm-style-iw>div> div > div:nth-child(4) >div:nth-child(4)>div>div>div:nth-child(3){
    display: none;
  }

.gmnoprint, .gm-style-cc{
  display: none;
}

.gm-style-iw + div{
  display: none;
}
.contacts-section{
  height: 540px;
}
.contacts-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
}

.contacts-bg-left{
  width: 50%;
  z-index: 9999;
}
.contacts-bg-right{
  width: 50%;
  background: #2eb2ef;
  transform: skew(8deg);
  position: relative;
  &:after{
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    background: #2eb2ef;
    transform: translateX(100%);
  }
}

.map-wrapper{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.contacts-heading{
  color: #fff;
  text-align: right;
  &:after{
    right: 0;
    left: auto;
    background: #fff;
    transform: translate(0);
  }
}

.contacts-text{
  font-family: Hind;
  color:  #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  padding-left: 8%;
  margin-bottom: 30px;
}
.contact-btn{
  margin: 0 0 15px auto;
  background: #fff;
  padding: 15px;
  font-family: Montserrat;
  color:  #2eb2ef;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  transition: all 0.5s;
  &:hover{
    color: #24a8e5;
    transition: all 0.5s;
  }
}

.bottom-menu{
  padding: 55px 0 60px;
  background: #f8f8f8;
}

.bottom-menu__title{
  color:  #737373;
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 25px;
  text-transform: uppercase;
  
}

.bottom-menu-list{
  a, >div{
    font-family: Hind;
    display: block;
    color:  #737373;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: left;
  }
  .bold{
    font-weight: 700;
  }
}

.contacts-section{
  display: flex;
}
.map-wrapper{
  width: 50%;
  position: relative;
  transform: skewX(8deg);
  &:before{
    content: '';
    width: 120%;
    height: 100%;
    display: block;
    background: #2eb2ef;
    position: absolute;
    z-index: 1;
    opacity: 0.5;
    right: 0;
    transform: translateX(0%);
    transition: all .5s;
  }
  &:hover{
    &:before{
      transform: translateX(-110%);
      transition: all .5s;
    }
     
  }
}
.map{
  transform: skewX(-8deg);
  width: 120%;
  position: relative;
  position: relative;
  position: relative;
  
}
.contact-right__wrapper{
  width: 50%;
  background: #2eb2ef;
  transform: skewX(8deg);
  position: relative;
  &:after{
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    background: #2eb2ef;
    z-index: -1;
    position: absolute;
    top: 0;
    transform: translateX(99%);
  }
}
.contact-right{
  transform: skewX(-8deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.contact-right__inner{
  max-width: calc(1170px / 2);
}
